


body {

padding: 0;
margin: 0;
font-family: Arial, Helvetica, sans-serif;


}


.navbar{

    background-color: black;
    color: aliceblue;
    display: flex;

    >ul{
        display: flex;
        gap: 20px;
        list-style-type: none;
        >li{
            >a{
                color: aliceblue;
                text-decoration: none;
            }
        }
    }
}





.footer{

    background-color: black;
    color: aliceblue;
    display: flex;
    gap: 5px;
    justify-content: center;


}



.main{
    min-height: 90vh;
}


.register{


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.register_form , .login_form{

display: flex;
flex-direction: column;
gap: 20px;


>input{
    width: 400px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid blue;
}

>button{
      padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid blue;
    font-size: 20px;
}

}